body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0;
}

.game-intro p {
  font-size: 15px;
  font-family: "Verdana";
  margin-left: 40px;
  ;
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  margin-top: 250px;
  font-size: 20px;
  background-color: #870007;
  color: #fff;
  padding: 15px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-left: 20px;
}

#game-board {
  float: right;
  }

#canvas {
  background-image:url();
}